{# {{ ansible_managed }} #}
***************************************************************************
                          AUTHORIZED ACCESS ONLY
***************************************************************************
This system is private property. All connections are monitored and logged.
Unauthorized access or use is prohibited and may be prosecuted to the fullest
extent of the law. Disconnect now if you are not an authorized user.
***************************************************************************
